* {
	margin: 0;
	padding: 0;
}

#divMain {
	margin: 10;
	/*width: 100%;
	height: 100%;*/
	text-align: center;
	display: block;
}

#cvsMain {
	margin: 10;
	/*height: 100%;
	width: 100%;*/
	background-color: #e8e8e8;
	display: block;
}
